fastapi
uvicorn
python-multipart
pydantic
python-dotenv
numpy
langchain
langchain-core
langchain-community
langchain-openai
langchain-postgres
langchain-experimental
neo4j
psycopg[binary]
pypdf
python-docx
unstructured
python-pptx
markitdown[all]